*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;

}

.color-orange{
    color: #FD6E0A;
}

.btn{
   background-color: #FD6E0A;
   border: none;
   border-radius: 5px;
   padding: 18px 35px;
   font-size: 20px;
   font-weight: bold ;
   color: white;
   cursor: pointer;
}




/* main style */

header{
    background-color: #FFF8F3; 
    background: url(../images/developer.png) , url(../images/header_bg.png) , #FFF8F3 ;
    background-position: top left , bottom right ;
    background-repeat: no-repeat;
    padding-top: 51px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-contant{
    max-width: 585px;

}

#banner .banner-contant h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    
}
#banner .banner-contant h1{
    color: #181818;
    font-size: 85px;
    font-weight:bold;
    margin-bottom: 20px;
    
}

#banner .banner-contant p{
    color: #181818;
    font-size: 18px;
    /* font-weight:; */
    margin-bottom: 20px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    
}

#banner .banner-img img{
    max-width: 584px ;
    height: 676px;
    vertical-align: middle;
}
