*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;

}

.color-orange{
    color: #FD6E0A;
}

.btn{
   background-color: #FD6E0A;
   border: none;
   border-radius: 5px;
   padding: 18px 35px;
   font-size: 20px;
   font-weight: bold ;
   color: white;
}











/* main style */

header{
    background-color: #a8a8a8; 
    /* FFF8F3 */
    padding-top: 51px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}